.success-message{
    color: #36AD96;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 4px;   
}
.warning-message{
    color: #D14B35;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 4px;  
}
.message-possition{
    display: flex;
    align-items: center;
    vertical-align: baseline;
    margin-top: 4px;
}